{% extends 'registration/base_registration.html' %}

{% block title %}
Enter a New Password
{% endblock title %}


{% block form %}
          <form class="login" method="POST">

          {% csrf_token %}

              <div class="login__field">
                  <i class="login__icon fas fa-lock"></i>
                  <input name="new_password1" type="password" class="login__input" placeholder="New Password" />
              </div> 

              <div class="login__field">
                  <i class="login__icon fas fa-lock"></i>
                  <input name="new_password2" type="password" class="login__input" placeholder="Confirm New Password" />
              </div> 

            <button class="button login__submit">
              <span class="button__text"> Change My Password </span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>

          </form>

{% endblock form %}
