{% block content %}

<div class="form-center" style="width: 35%; margin-top: 5%;">
<h2> Forgot Your Password? </h2>
<p> Enter your email address below, and we will email instructions for setting one.</p>
<form method="post">
{% csrf_token %}
{{ form|crispy  }}
<button type='submit' class="btn btn-success ml-2"> Send Password Reset Link </button>
</form>
</div>

{% endblock content %}

{% extends 'registration/base_registration.html' %}

{% block title %}
Forgot Your Password?
{% endblock title %}


{% block form %}
          <form class="login" method="POST">
          {% csrf_token %}
              <div class="login__field">
                  <i class="login__icon fas fa-user"></i>
                  <input type="email" name="email" class="login__input" placeholder=" Email" autocapitalize="none" autocomplete="email"/>
              </div>
            <button class="button login__submit">
              <span class="button__text">Send Password Reset Link</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
          </form>
{% endblock form %}