{% extends 'registration/base_registration.html' %}

{% block title %}
Forgot Your Password?
{% endblock title %}


{% block form %}
          <form class="login" method="POST">
          {% csrf_token %}
              <div class="login__field">
                  <i class="login__icon fas fa-user"></i>
                  <input type="email" name="email" class="login__input" placeholder=" Email" autocapitalize="none" autocomplete="email"/>
              </div>
            <button class="button login__submit">
              <span class="button__text">Send Password Reset Link</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
          </form>
{% endblock form %}