{% extends 'registration/base_registration.html' %}

{% block title %}
Password has been changed Successfully
{% endblock title %}

{% block script %}
function Redirect() 
    {  
        window.location="{% url 'login' %}"; 
    } 
   
    setTimeout('Redirect()', 3000);   
{% endblock script %}

{% block style %}
/* The infobar - position it at the bottom and in the middle of the screen */
#infobar {
  visibility: hidden; /* Hidden by default. Visible on click */
  margin: auto;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: relative; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 50%;
  /* Center the infobar */
  bottom: 50px; /* 30px from the bottom */
}

/* Show the infobar when clicking on a button (class added with JavaScript) */
#infobar.show {
  visibility: visible; /* Show the infobar */
  /* Add animation: Take 0.5 seconds to fade in and out the infobar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the infobar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
{% endblock style %}

{% block form %}
<h2> Password Changed Successfully </h2>

<div id="infobar" class="show"> Your password has been changed successfully. You will be redirected to the login page shortly. </div>
{% endblock form %}
