@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");

:root {
  --blue: #4a99f5;
  --white: #ffffff;
  --greay: #f2f2f2;
  --black: #000000;
  --shadowblack: #757575;

  --font: "Inter";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font), sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

.upload-continer {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.upload-continer .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--greay);
  width: 60%;
  min-width: 40em;
  height: 6em;
}

.upload-continer .card h1 {
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}

.upload-continer .card button {
  padding: 0.5em 1.5em;
  background: var(--blue);
  border: 0.5em var(--blue) solid;
  border-radius: 1em;
  cursor: pointer;
}
.upload-continer .card button a {
  color: var(--white);
}

.favorite-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: column;
}

.favorite-container .favorite-card {
  display: flex;
  align-items: center;
  margin-top: 5em;
  height: 10em;
  width: 45%;
  min-width: 40em;
  background: var(--greay);
  border: 2px var(--greay) solid;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.favorite-container .favorite-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translate(0px, -10px);
}

.favorite-card .image {
  width: 15em;
  height: 10em;
}
.favorite-container .image img {
  width: 100%;
  height: 100%;
}

.favorite-container .favorite-card .info {
  display: flex;
  flex-direction: column;
  margin: 0em 0.5em;
}

.favorite-card .location {
  display: flex;
  align-items: center;
  margin-top: 5%;
  height: 2em;
  font-weight: 200;
  text-transform: uppercase;
}
.favorite-card .location p {
  padding-left: 0.5em;
}

.favorite-container .favorite-card .info h2 {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 1em;
}

.favorite-container .favorite-card .info h2:nth-child(3) {
  color: var(--blue);
  text-transform: uppercase;
}

/*


  UPLOAD PART 

*/

.create-post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: -3.5em;
  text-transform: uppercase;
  color: var(--blue);
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.upload-container .upload-card {
  display: flex;
  flex-direction: column;
  border: 1px var(--blue) solid;
  border-radius: 0.5em;
  width: 50%;
  max-height: 53em;
  margin-top: 40vh;
}

.upload-card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-card form:nth-child(1) {
  margin-top: 2em;
}

.upload-card form label {
  font-family: var(--font), sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0.8em 1em;
}

.upload-card form input {
  padding: 0.5em 0em;
  max-width: 50%;
  margin: 0em 1em;
  border: 1px var(--greay) solid;
  border-radius: 0.2em;
}

.upload-card form input:focus {
  outline: none;
  border: 1px var(--blue) solid;
}

.upload-card form select {
  padding: 0.5em 0em;
  max-width: 50%;
  margin: 0em 1em;
  border: 1px var(--greay) solid;
  border-radius: 0.2em;
}

.upload-card form select:focus {
  outline: none;
  border: 1px var(--blue) solid;
}

.upload-card form button {
  padding: 0.5em 0em;
  max-width: 30%;
  margin: 2em 40%;
  border: 1px var(--blue) solid;
  background: var(--blue);
  color: var(--white);
  border-radius: 0.2em;
}

.upload-card form button:hover {
  border: 1px var(--greay) solid;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
}
