{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/new.css' %}" />

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
  rel="stylesheet"
/>

{% endblock head %}

   {% block script %}
      tinymce.init({
        selector: "textarea#editor",
        height: 300,
      });
    {% endblock script %}

    {% block title %} Upload Page {% endblock title%}
  

  {% block content %}
    <!--

        UPLOAD CONTAINER 


    -->
    <h1 class="create-post">Create a New Post</h1>
      <div>
     
    <div class="upload-container">
      <div class="upload-card">
       <div class="col-md-12">
                {% if form.errors %}
                    {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong> 
                                  <strong>{{ field|escape }}</strong>
                              </div>
                          {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                    {% endfor %}
                  {% endif %}
            </div>
        <form method="post" enctype="multipart/form-data">
            <label for="title"> Title {{ form.title }} </label>
            <label for="editor"> Description </label> {{ form.body }}
            <label for="image"> Image {{ form.photo_1 }} {{ form.photo_2 }} {{ form.photo_3 }} {{ form.photo_4 }}  </label>
            <label for="category"> Category {{ form.category }} </label>
            <label for="region"> Region {{ form.region }}  </label>
            <label for="address"> Address {{ form.address }} </label>
            <label for="town">Town {{ form.town }} </label>
            <label for="rental_rate">Monthly Rate (ETB) {{ form.rental_rate }} </label>
                {% csrf_token %}
           <button type="submit"> POST </button>
        </form>

      </div>
    </div>

{% endblock content %}
